<table summary="Office form fields">
  <tr>
    <th>City</th>
    <td><%= f.text_field(:city) %></td>
  </tr>
  <tr>
    <th>Postal code</th>
    <td><%= f.text_field(:postal_code) %></td>
  </tr>
  <tr>
    <th>Street</th>
    <td><%= f.text_field(:street) %></td>
  </tr>
  <tr>
    <th>Nr</th>
    <td><%= f.text_field(:nr) %></td>
  </tr>
  <tr>
    <th>Info</th>
    <td><%= f.text_area(:info) %></td>
  </tr>
</table>
