<% title 'Patient' %>

<p>Patient <%= @patient.email %></p>


<%= link_to('Edit personal info', edit_patient_path(id: @patient.id)) %>

<br/>

<%= link_to('Edit credentials', edit_patient_registration_path) %>

<br/>

<%= link_to('My visits', visits_path) %>

<br/>

<%= link_to('Logout', destroy_patient_session_path, method: 'delete') %>