<p>Doctor <%= @doctor.email %></p>

<%= link_to('Edit info', edit_doctor_path(id: @doctor.id)) %>

<br/>

<%= link_to('Edit credentials', edit_doctor_registration_path) %>

<br/>

<%= link_to('My visits', visits_path) %>

<br/>

<%= link_to('Logout', destroy_doctor_session_path, method: 'delete') %>