<%= link_to('<< Cancel', dashboard_doctors_path) %>

<div>
  <h2>Edit info</h2>

  <%= form_for(@doctor, url: doctor_path(@doctor), method: 'patch') do |f| %>

      <table>
        <tr>
          <th>First name</th>
          <td><%= f.text_field(:first_name) %></td>
        </tr>
        <tr>
          <th>Last name</th>
          <td><%= f.text_field(:last_name) %></td>
        </tr>
        <tr>
          <th>Phone number</th>
          <td><%= f.text_field(:phone) %></td>
        </tr>
        <tr>
          <th>Specialization</th>
          <td><%= f.text_field(:specialization) %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= f.text_area(:description) %></td>
        </tr>
      </table>

      <div class="form-buttons">
        <%= f.submit('Save') %>
      </div>

  <% end %>
</div>